[*.cs]

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# IDE0067: Dispose objects before losing scope
dotnet_diagnostic.IDE0067.severity = none

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1507: Use nameof to express symbol names
dotnet_diagnostic.CA1507.severity = none
